.home {
    height: 100vh;
    background-color: blue;
}

.content {
    height: 100vh;
    display: flex;
    position: relative;
}

.link:hover {
    color: rgb(255, 186, 186);
    cursor: pointer;
}

.link:active {
    color: red;
}
.content_menu {
    width: 20%;
    position: absolute;
}

.content_content {
    margin-left: 30%;
}

.logo {
    height: 45%;
}

.buttons {
    height: 50%;
}

.qrcode {
    display: none;
}