.home {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    background-image: url("../media/downloadbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
    height: 100vh;
    display: flex;
    position: relative;
}

.link {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(255, 186, 186);
    cursor: pointer;
}

.link:active {
    color: red;
}
.content_menu {
    width: 20%;
    position: absolute;
}

.content_content {
    margin-left: 30%;
}

.logo {
    height: 45%;
}

.buttons {
    height: 50%;
}

.qrcode {
    display: none;
}