@font-face {
  font-family: "Siyuansong";
  src: url("./assets/fonts/SourceHanSerifCN-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Siyuansong";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Siyuansong";
}
